
{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Product List</h4>
        <a href="{{ path('app_product_new') }}" class="btn btn-outline-primary">Create new</a>
    </div>
    <br>
    <div class="table-responsive text-nowrap">
       <table id="productDataTable" class="table table-hover">
          <thead>
             <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
             </tr>
          </thead>
       </table>
    </div>
</div>

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#productDataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_product_data') }}",
                    "type": "GET",
                    "data": function(d) {
                        d.draw = d.draw || 0;
                        d.start = d.start || 0;
                        d.length = d.length || 15;
                    },
                },
                "order": [[0, 'asc']],
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "name", "name": "name" },
                    { "data": "stock", "name": "stock" },
                    { "data": "price", "name": "price" },
                    { "data": "description", "name": "description" },
                    {
                        "data": "image", 
                        "name": "image",
                        "render": function(data, type, row) {
                            var imageUrl = "{{ asset('uploads/images') }}/" + data;
                            return '<img src="' + imageUrl + '" alt="' + row.name + '" height="50" />';
                        }
                    },
                    { "data": "actions", "name": "actions", "orderable": false, "searchable": false }
                ],
                "autoWidth": false,
                "bDestroy": true
            });
        });
    </script>
{% endblock %}
{% endblock %}
{# { "data": "image", "name":"image"}, #}