
{% extends 'base.html.twig' %}

{% block title %}Place Order{% endblock %}
{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-md">
        <div id="paypal-button-container"></div>
        <p id="result-message"></p>
    </div>
</div>
{% endblock %}
