{% extends 'base.html.twig' %}

{% block title %}Place Order{% endblock %}
{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-md">
        <h1>Payment for Order #{{ order.id }}</h1>
        <div id="paypal-button-container" data-order="{{order.id}}"  ></div>
        <p id="result-message"></p>
    </div>
</div>
{% endblock %}
