{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<div class="container-xxl d-flex justify-content-center container-p-y">
<h1>An error occurred</h1>

<p>Sorry, something went wrong. Please try again later.</p>
</div>
{% endblock %}