{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
<div class="container-xxl d-flex justify-content-center container-p-y">
    <div class="misc-wrapper">
      <h2 class="mb-2 mx-2">Access Denied</h2>
      <p class="mb-4 mx-2">You do not have the necessary permissions to access this page.</p>
      <a href="{{path('home')}}" class="btn btn-primary">Back to home</a>
      <div class="mt-3">
        
        <img
        src="https://storyset.com/illustration/403-error-forbidden/amico"
        alt="page-misc-error-light"
        width="500"
        class="img-fluid"
      />
      </div>
    </div>
  </div>
{% endblock %}
